html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/background_dollars1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

button {
    cursor: pointer;
}